
<% if @book.errors.any? %>
  <%= @book.errors.count %>error
  <% @book.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<h1>show</h1>
<h2>title</h2>
<p><%=@book.title %></p>
<h2>body</h2>
<p><%=@book.body %></p>
<%= link_to "edit", edit_book_path %>
<%= link_to "back", books_path %>
<%= link_to "destroy", destroy_book_path(@book.id), method: :delete, "data-confirm" => "Are you sure？" %>



  
